<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.InventoryMapper">
	
	<!-- 리스트 페이징 -->
	<select id="selectCountInventory"
			parameterType="Integer">
		SELECT COUNT(*)
		FROM inventory
		WHERE store_id = #{storeId}
	</select>
	
	<!-- 지점 리스트 -> 인벤토리 리스트 : /on/inventoryList -->
	<!-- 추가수정 film X rental X payment ... X customer -->
	<!-- 검색 기능 추가 -->
	<select id="selectInventoryListByStore"
			parameterType="Map"
			resultType="Map">
		SELECT
			i.inventory_id inventoryId
			, i.film_id filmId
			, f.title title
			, i.last_update lastUpdate
		FROM inventory i INNER JOIN film f
		ON i.film_id = f.film_id
		WHERE i.store_id = #{storeId}
		ORDER BY i.inventory_id DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- /on/removeFilm -->
	<select id="selcetCountInventoryByFilm"
			parameterType="Integer">
		SELECT COUNT(*)
		FROM inventory
		WHERE film_id = #{filmId}
	</select>


</mapper>